    <div class="product-form__item product-form__item--upload">
        <label for="upload">Upload</label>
        <input required class="required" id="upload" type="file" name="properties[upload]" class="product-form__input">
    </div>